@font-face {
    font-family: 'CustomFont';
    src: url('./League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
  }
* {
    box-sizing: border-box;
    font-family: 'CustomFont';
    
  }
  body{
   
  }
  
  
  .main {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #070220, #030222);

    height: 100vh; 
    background-color: #030c35;
    /* background-image: linear-gradient(43deg, #12227d 1%, #48378e 44%, #09113f 100%); */
    

  }
  
  
  .img img {
   
  }
  
  .form {
    display: flex;
    flex-direction: column; /* Stack form elements vertically */
    align-items: center;
    margin-top: 20px; /* Add some spacing between the image and the form */
  }
  
  .form input {
    /*  */
    width: 100%;
    height: 45px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  
  .form button {
    width: 18%;
    height: 40px;
    background-color:#0EB4FF ; /* Change to your preferred button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #0EB4FF; /* Change to a darker shade for hover effect */
  }
  